h1
{
	letter-spacing: .15em;
	text-transform: uppercase;
	color: cyan;
	text-align: center;
	border-width: thick;
	border-color: red;
	border-style: groove;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 30px 50px;
}

img
{
	float: left;
	margin: 15px;
	vertical-align: middle;
}

h2
{
	color: blue;
	font-family: "Georgia" , "Times New Roman" , serif;
	margin: 30px 50px;
	clear: left;
} 

ul
{
	color:red;
	text-align: left;
	list-style-image: url{"Image/Star.png"};	
}

ol
{
	list-style-type: upper-roman;
}	

body
{
	color: cyan;
	background-image: url(../Images/red.jpg);
	background-position: center center;
	background-color:#282828;
	font-family: "Georgia" , "Times New Roman" , serif;
}

li
{
		color:red;
		font-family: "Veranda", "Geneva", "helvetica", sans-serif;
		font: italic normal 1.2em Arial, helvetica, sans-serif;
}

p
{
	font-size: 1.25em;
	text-indent: 3em;
	line-height: 1.5em;
	margin:15px;
}

h5
{
	font-size: 0.75em;
	margin: 30px 50px;
	color:red;
}	

h1, h2, h5
{
	font-family: "Georgia" , "Times New Roman" , serif;	
	padding-left: 45px;
	padding-right:45px;
}	

p em
{
		color: red;
}	

nav
{
	background-color:#202020;
	line-height: 200%;
	display: block;
	margin:15px 60px;
	padding: 15px 15px;
	border-width: thick;
	border-color: cyan;
	border-style: groove;
}
	
nav li
{
		display: inline;
		padding-right: 50px;
}	

nav a:link
{
		color:pink;
		text-decoration:none;
}

nav a:visited
{
		color:red;
		text-decoration:none;
}

nav a:hover
{
		text-decoration: underline;
}

nav a:active
{
		color:yellow
}

p a:link
{
		color:pink;
		text-decoration:none;
}

p a:visited
{
		color:red;
		text-decoration:none;
}

p a:hover
{
		text-decoration: underline;
}