h1
{
	letter-spacing: .15em;
	text-transform: uppercase;
	color: red;
	text-align: center
}

h2
{
	color: blue;
	font-family: "Georgia" , "Times New Roman" , serif
} 

ul
{
	color:cyan;
	text-align: left
}
body
{
	color: red;
	background-color:black;
	font-family: "Georgia" , "Times New Roman" , serif
}

li
{
		color:cyan;
		font-family: "Veranda", "Geneva", "helvetica", sans-serif;
		font: italic normal 1.2em Arial, helvetica, sans-serif
}

p
{
	font-size: 1.25em;
	text-indent: 3em;
	line-height: 1.5em;
}

h5
{
	font-size: 0.75em;
}